# This is a basic project.yaml config. You can add your own configs by editing
# it below.
# By default, you can simply keep this file as-is: no configuration at all is needed for a basic project :-)
# Some possible options you can use:
#
#
#repositories:
#  - "https://repo.maven.apache.org/maven2/"
#
#dependencies:
#  - "org.kb:example:1.0"
#  - "../other-project"
#
#testDependencies:
#  - "org.junit:junit:4.1"
#
#main-class: "com.example.Main"
#
#jvm-args: "-server -Xms2G"
#
#app-args: "-foo=these-are-passed-to-your-app-on-kb-run"
#
#output-name: "custom-jar-name"
