# This is a basic project.yaml config. You can add your own configs by editing
# it below. Lines starting with # are commented out and shown as examples only.
# By default, you can simply keep this file as-is: no additional configuration at all is needed for a basic project :-)

group: kb
artifact: example
version: 1.0.0-SNAPSHOT

repositories:
  - https://repo.maven.apache.org/maven2/

languages:
  - java
  - kotlin

dependencies:
  - org.jetbrains.kotlin:kotlin-stdlib-jdk8:1.2.51
#  - "org.kb:example:1.0"
#  - "../other-project"

test-dependencies:
  - "junit:junit:4.12"

# define this if you want to build a binary/executable jar
#main-class: "com.example.Main"

#output-name: "custom-jar-name"

# these are used exclusively by kb run
#run-jvm-args: "-server -Xms2G"
#run-app-args: "-foo=these-are-passed-to-your-app-on-kb-run"
